@import "../css/bootstrap-reboot.css";
@import "../css/bootstrap-grid.min.css";
@import "./mediaqueries.scss";
@import "./typography.scss";


.container {
    @include media(">=desktop") {
        max-width: 60%;
    }

    @include media("retina2x",">=desktop"){
        max-width: 75%;
    }
}

/* Variables */
$bg-color: #F4FF79;

/* Helpers  */
.fw-thin {
    font-weight: 100;
}
.fw-medium {
    font-weight: 500;
}


/* Global  */


body {
  background-color: $bg-color;
  font-family: $fontfamily;
  font-weight: 400;
  line-height: 1.65;
}


p {
    & + p {
        margin: 1.15rem 0 1.15rem 0;
    }
}
