@import "./header.scss";

.home {
    @include phone {
        padding: 2rem;
    }
    .row {
        min-height: 100vh;
    }
    .story {
        @include phone{
            h3 {
                font-size: 1.6rem;
            }
        }
    }
    .links {
        ul {
            margin: 0;
            padding: 0;
            li {
                font-size: 1.2rem;
                margin-right: 1rem;
                display: inline-block;

                a{
                    color: inherit;
                }
            }
        }

    }
}
