@import url(global.less);

.full{
  height: 100%;
  display: flex;
}

.blurp {
  align-self: center;
  max-width: 65%;
  padding: 40px;
  
  p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 2em;

    a{
      color: @glow-color;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }

  ul{
    li{
      font-size: 1.2em;
      display: inline-block;
      color: inherit;
      margin-right: 30px;

      a{
        color: inherit;
        .transition;
        
        &:hover{
          color: @glow-color;
        }
      }

    }
  }
}