@import url(global.less);


.main-wrapper{
  border: 20px solid #fff;
  min-height: 100vh;
}
header{
  position: relative;
  ._wrapper{
    padding-top: 120px;
    padding-bottom: 100px;
    .clear;
    position: relative;
    z-index: 9;

    .left{
      h4{
        font-weight: 500;
        text-transform: uppercase;
        color: #fff;
      }
      h1{
        font-weight: 400;
        font-size: 40px;
        padding: 10px 0;
        margin-bottom: 20px;
        color: @glow-color;
      }
      p{
        font-size: 20px;
      }
      ul{
        margin-top: 30px;
        li{
          display: inline-block;
          font-size: 20px;
          margin-right: 20px;
          a{
            color: inherit;
            .transition;
            &:hover{
              color: #fff;
            }
          }
        }
      }
    }
  }

  .underlay{
    background: url(../img/kene.png) no-repeat;
    background-size: 300px;
    background-position: right 200px bottom 60%;
    position: absolute;
    background-attachment: fixed;
    .transition;

    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;

    @media @mobile{
      background-position: right bottom;
      opacity: .4 !important;
    }
  }

}

#works{
  background: #fff;
  z-index: 9;
  
  ._details{
    font-size: 16px;
    h3{
      color: #000;
      font-size: 25px;
      margin-bottom: 10px;
    }
    p{
      
      color: #444;
    }
    span{
      font-size: 16px;
      display: block;
      padding: 10px 0;
    }
    a{
      color: #0080FF;
      text-transform: uppercase;
      position: relative;
      display: inline-block;
      font-weight: 500;
      font-size: 12px;
      letter-spacing: .5px;
      .transition;
      &:hover{
        color: #D34335;

        span{
          transition-delay:30ms;
          transform: translateX(5px);
        }
      }
      // padding: 5px 10px;
      span{
        .transition;
        display: inline-block;
      }

    }

  }
  .project{
    .clear;
    margin-bottom: 70px;
  }
  ._image{
    background: url(../img/browser-bg.png) no-repeat;
    background-size: 100%;
    padding-top: 4.5%;
    .transition;
    &:hover{
      box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.12);
    }
    figure{
      position: relative;

    }
    

    img{
      width: 100%;
      border: 1px solid #eaeaea;
      border-top: none;
    }
  }
}


footer{
  padding: 60px 0;
  
  &:hover{
    ._call{
      p{
        span{
          color: #1771D3;
        }
      }
    }
      
  }
  ._call{
    width: 60%;
    margin: 0 auto;
    text-align: center;

    h3{
      font-size: 30px;
      padding-bottom: 20px;
    }
    p{
      margin-top: 20px;
      text-transform: uppercase;
      display: block;
      font-size: 14px;
      font-weight: 400;
      i{
        margin-right: 5px;
      }
      span{
        display: block;
        color: #fff;
        text-transform: none;
        font-size: 18px;
        .transition;

      }
    }
    >span{
      color: red;
    }
  }

  ._social{
    display: flex;
    flex-directio:row;
    flex-wrap:wrap;
    flex-basis:25%;
    align-content:stretch;
    justify-content:space-between;
    margin-top: 50px;
    
    @media @mobile{
      padding: 0 10px;

    }
    >div{
      flex-grow:1;
      @media @mobile{
        width: 50%;
        margin-bottom: 10px;
        padding: 0 2px;
      }
      &.twitter{
        i{
          color: #55ACEE;
        }
        &:hover{
          span{
            color: #55ACEE;
          }
        }
      }
      &.medium{
        i{
          color: #0BE370;
        }
        &:hover{
          span{
            color: #0BE370;
          }
        }
      }
      &.instagram{
        i{
          color: #7A50C0;
        }
        &:hover{
          span{
            color: #7A50C0;
          }
        }
      }
      &.dribbble{
        i{
          color: #EA4C89;
        }
        &:hover{
          span{
            color: #EA4C89;
          }
        }
      }
      
      a{
        color: inherit;
        display: block;
        font-size: 12px;
        i{
          font-size: 40px;
          float: left;
          margin-right: 10px;
        }
        span{
          display: block;
          font-size: 16px;
          line-height: 20px;
          color: #fff;
          .transition;
          font-weight: 400;
        }
        @media @mobile{
          i{
            margin-right: 5px;
          }
          span{
            font-size: 14px;
          }
        }
      }
    }
  }
}